### 1. Lambda Function

In [2]:
test =  lambda x,y: x*y
print(test(2,4))

8

### 2. Concatenation operator (+)

In [5]:
x = 5
y = "John"
print(y + " has " + str(x) + " phones")

John has 5 phones

In [6]:
x = 5
y = 10
print(str(x)+str(y))
print(x+5)

510
10

### 3. type() function

In [4]:
x = str(3)
y = int(3)
z = float(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

### 4. functions in python

In [7]:
x = "World!"

def myfunc():
    print("Hello "+x)

myfunc()

Hello World!

### 5. Global Variable and Local Variable

<b>Global Variables:</b> Variables declared outside a function or in global space are called global variables. These variables can be accessed by any function in the program.

<b>Local Vairables:</b> Any variable declared inside a function is known as a local variable. This variable is present in the local space and not in the global space.

In [12]:
x = "Global Variable"

def myfunc():
    x = "Local Variable"
    print("Local: This is "+x)

myfunc()
print("Global: This is "+x)

Local: This is Local Variable
Global: This is Global Variable

### 6. Data Structures in Python

#### 6.1 Lists:
Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type. List allow duplicates.
#### List Operations:
#### Accessing list elements:

In [17]:
a = ["apple", "banana", "cherry", "apple", "cherry"]
print(a)      # print full list

print(a[0:4]) # print from index 0 to 4 and 4 not included by default.

print(a[-1])  # print last element

print(a[3:4]) # print 4th element in the list

print(a[:-1]) # print full list except the last item.

['apple', 'banana', 'cherry', 'apple', 'cherry']
['apple', 'banana', 'cherry', 'apple']
cherry
['apple']
['apple', 'banana', 'cherry', 'apple']

#### replace elements in list:

In [80]:
a = ["apple", "banana", "cherry"]
a[1] = "kiwi"  # replace banana with kiwi
print(a)

b = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
b[1:3] = ["pineapple", "watermelon"] # replace multiple items or replace with list
print(b)

c = ["apple", "banana", "cherry"]
c.insert(2, "orange") # insert an additional item to the list based on the index position.
print(c)

x = ["apple", "banana", "cherry"]
y = ["mango", "pineapple", "papaya"]
x.extend(y) # appends the second list to the first list
print(x)

p = ["apple", "banana", "cherry"]
p.append("mango") # appends the second list to the first list
print(p)

t = ["apple", "banana", "cherry"]
t.clear() # clear the list and returns empty list
print(t)

aa = ["a", "b"]
bb = ["c", "d"]
print(aa+bb)

cc = [1, 2]
dd = [3, 4]
print(cc+dd)

['apple', 'kiwi', 'cherry']
['apple', 'pineapple', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'banana', 'orange', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'mango']
[]
['a', 'b', 'c', 'd']
[1, 2, 3, 4]

#### sort list elements

In [39]:
a = ["orange", "mango", "kiwi", "pineapple", "banana"]
a.sort() ## sort the list
print(a)

a.sort(reverse=True) # sort in reverse
print(a)

b = [100, 50, 65, 82, 23]
b.sort() 
print(b)

b.sort(reverse=True)
print(b)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

#### Copy list

In [42]:
a = ["apple", "banana", "cherry"]
b = a  # there is only list and assigned to both a and b. any change will reflect in both the lists.
b[1]="kiwi"
print(b)
print(a)
 
c = a.copy() # creates another list. change in copied list will not effect the original list.
c[1]="banana"
print(c)
print(a)

['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'kiwi', 'cherry']

#### add items to the new list with for loop

In [52]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

# create new list using for loop
for fruit in fruits:
    newlist.append(fruit)

print("** New list **")    
print(newlist)

# for loop short form
newlist1 = []
newlist1 = [fruit for fruit in fruits]
print("** short from **") 
print(newlist1)

# create new list only if there is a letter 'a' in fruit name
ainfruit = []
for fruit in fruits:
    if "a" in fruit:
        ainfruit.append(fruit)

print("** create new list only if there is a letter 'a' in fruit name **") 
print(ainfruit)

print("** create new list only if there is a letter 'g' in fruit name **") 
ginfruit = [fruit for fruit in fruits if "g" in fruit]
print(ginfruit)

** New list **
['apple', 'banana', 'cherry', 'kiwi', 'mango']
** short from **
['apple', 'banana', 'cherry', 'kiwi', 'mango']
** create new list only if there is a letter 'a' in fruit name **
['apple', 'banana', 'mango']
** create new list only if there is a letter 'g' in fruit name **
['mango']

#### append two lists without extend function

In [59]:
a = ["a", "b", "c"]
b = [1,2,3]

for item in b:
    a.append(item)
print(a)

['a', 'b', 'c', 1, 2, 3]

#### mutiply lists with zip()

In [ ]:
a = [1,2,3]
b = [1,2,3]
c=[]

#for i,j in zip(a,b):
#    c.append(i*j)

c = [i*j for i,j in zip(a,b)]
       
print(c)

#### 6.2 tuples:
<b> tuple: </b> Python Tuple is a collection of Python objects much like a list but Tuples are immutable(unchangeable) in nature i.e. the elements in the tuple cannot be added or removed once created. Just like a List, a Tuple can also contain elements of various types. tuple allow duplicates.

In Python, tuples are created by placing a sequence of values separated by ‘comma’ with or without the use of parentheses for grouping of the data sequence.

<b> Note: </b> Tuples can also be created with a single element, but it is a bit tricky. Having one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple.

In [63]:
x = ("apple", "banana", "cherry") #tuple
print(x)

x = range(4)
print(x)

('apple', 'banana', 'cherry')
range(0, 4)

#### combine list and tuple

In [64]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#### accessing the tuples is same as list

In [65]:
thistuple = ("apple", "banana", "cherry", "apple")
print(thistuple[1:])

('banana', 'cherry', 'apple')

#### converting tuple to list:  tuple ==> list
#### converting list to tuple: list ==> tuple

In [71]:
 a = ("apple", "banana", "cherry", "apple")
print(a)

b = list(a) # converting tuple to list
print(b)

b[1] = "kiwi" # replacing second value from banana to kiwi
print(b)

a = tuple(b) #converting list back to tuple after the update
print(a)

('apple', 'banana', 'cherry', 'apple')
['apple', 'banana', 'cherry', 'apple']
['apple', 'kiwi', 'cherry', 'apple']
('apple', 'kiwi', 'cherry', 'apple')

#### find string in tuple

In [74]:
thistuple = ("apple", "banana", "cherry", "pineapple")

for a in thistuple:
    if "apple" in a:
        print("Yes, in the item: "+str(a))

Yes, in the item: apple
Yes, in the item: pineapple

#### 6.3 Sets
<b> set: </b> In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [88]:
x = {"apple", "banana", "cherry"} #set
print(x)

{'banana', 'apple', 'cherry'}

#### set functions

In [117]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange") # add is used to append elemenet to set
print(thisset)


thisset1 = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset1.update(tropical) #For addition of two or more elements Update() method is used. The update() method accepts lists, strings, tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.
print(thisset)


thisset2 = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset2.update(mylist)
print(thisset2)

thisset2.remove("banana")
print(thisset2)


# Pop() function can also be used to remove and return an element from the set, but it removes only the last element of the set. 
# Note – If the set is unordered then there’s no such way to determine which element is popped by using the pop() function.
thisset3 = {"apple", "banana", "cherry"}
print(thisset3)
thisset3.pop()
print(thisset3)


thisset4 = {"apple", "banana", "cherry"}
thisset4.clear() # remove all elements from set
print(thisset4) 

# verfying if the string exists in set
a = {"apple","b","c","b"}
print("apple" in a) 
print("a" in a)

{'banana', 'apple', 'cherry', 'orange'}
{'banana', 'apple', 'cherry', 'orange'}
{'banana', 'orange', 'cherry', 'apple', 'kiwi'}
{'orange', 'cherry', 'apple', 'kiwi'}
{'banana', 'apple', 'cherry'}
{'apple', 'cherry'}
set()
True
False

#### set union

In [107]:
set1 = {"a", "b" , "c", 1}
set2 = {1, 2, 3, "c"}
set3 = set1.union(set2) # returns union of the sets
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

#### set intersection

In [103]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) # returns common element

print(z)

{'apple'}

#### symmetric difference update

In [109]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) #returns all non common elements from both sets

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

#### delete the set

In [113]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

#### 6.4 dictionary:

<b> dictionary: </b> It is an unordered collection of elements. The elements in dictionaries are stored as key-value pairs. Dictionaries are indexed by keys. The data type is presented by {}.

In [118]:
x = {"name" : "John", "age" : 36} #dictionary
print(x)

{'name': 'John', 'age': 36}

In [120]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
   "year": 2021   # updates the latest value to the key
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2021}
3

In [122]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("year") # return value based on the key
print(x)
y = thisdict.keys() # retun all kyes
print(y)

1964
dict_keys(['brand', 'model', 'year'])

In [123]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x= car.keys() 

print(x) #before the change

car["color"] = "white"  ## add new key value to the dictionary

print(x) #after the change

print(car)

print(car.values())

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}
dict_values(['Ford', 'Mustang', 1964, 'white'])

In [126]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

x = thisdict.items()
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [128]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# verify if the key exists in dictionary

if "year" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [134]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018   # update year
thisdict.update({"year":2021}) # another way to update year

print(thisdict)

thisdict.update({"year1":2022}) # add a new key using update
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2021}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2021, 'year1': 2022}

In [136]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

poppedelement = thisdict.pop("model") # pop() removes the given key

print("popped element is: ", poppedelement)
print("The dictionary is: ",thisdict)

popped element is:  Mustang
The dictionary is:  {'brand': 'Ford', 'year': 1964}

In [140]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

del thisdict["model"]
print("The dictionary is: ",thisdict)

The dictionary is:  {'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

In [149]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x,y in thisdict.items():
    print("Key: {}, Value: {}".format(x,y))

Key: brand, Value: Ford
Key: model, Value: Mustang
Key: year, Value: 1964

### 7. String Functions

In [152]:
a = "Hello, World!" 
print(a.upper())
print(a.lower())
print(len(a))
print(len(a.strip()))
print(a.strip())
print(a.replace("Hello","Hi"))
print(a.split(","))

HELLO, WORLD!
hello, world!
13
13
Hello, World!
Hi, World!
['Hello', ' World!']

In [153]:
quantity = 3
itemno = 567
price = 49.95

myorder = "I want {} pieces of item {} for {} each"
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.95 each

### 8. user defined functions:

In [66]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

### 8. *args

In [67]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [159]:
def sum_values_args(*args):  # using *args the users can send any number of positional parameters
    s = 0
    for el in args:
        s += el
    return s

sum_values_args(1, 2, 3)

6

In [158]:
sum_values_args(1, 4)

5

### 9. **kwargs

This will take any number of keyword arguments (i.e. parameters which were specified together with their names) and then convert them to a dictionary, using the keywords as keys.

Note that you can always use both *args and **kwargs together. If you do, args will be a list containing all the positional arguments, whereas kwargs will contain the keyword arguments.

In [160]:
def my_function(**kid):   # using **kwargs the users can send any number of keyword parameters
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes